/* RESETTING STYLES */
/*                  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-background:#242C36;
    --color-card:#2B3440;
    --color-gradient-graph: linear-gradient(-15deg, rgba(128,69,80,1) 0%, rgba(253,123,131,1) 100%);
    --color-form-submit: #fb838e;
    --color-form-submit-border:  #fb838e5c;

    --element-gap: 48px;
    --text-gap: 16px;

    --font-regular: 400;
    --font-ultralight: 200;
    --font-bold: 700;

    --box-shadow: 1px 1px 34px -12px rgba(0,0,0,0.67);
    --box-shadow-final: 0 0 0 3px  var(--color-form-submit-border);
    --box-border: 2px solid var(--color-form-submit);
}

body{
    width: 100%;
    display: grid;
    justify-items: center;
}

.c-background-landing{
    background-image: url("../Assets/3599609.png") ;
    background-size: cover;
    height: 100vh;
}

.c-app-landing{
    padding: 32px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-self: center;
    align-items: center;
}

.c-phone{
    height: 85vh;
}

html{
    background-color: var(--color-background);
    font-family: "tajawal", Sans-Serif; 
}
body{
    
}

.c-app{
    width: 600px;
    padding-top: 32px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: var(--element-gap);
}

/* HEADER */
/*        */

.c-header{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-between;
}

.c-header__logo{
    height: 22px;
}
.c-header__logo-holder{
    display: grid;
    grid-template-columns: 20% auto;
    grid-gap: 8px;
    align-items: center;
}
.c-header__logo-text{
    color: white;
    font-size: 18px;
}

/* DATA VISUALISATION SECTION */
/*                            */

.c-data{
    background-color: var(--color-card);
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
}

.c-data__chart {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 16px;
    /* background: rgb(128,69,80); */
    background: var(--color-gradient-graph)
    
}

.c-data__text{
    padding-bottom: 32px;
    display:grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 0 16px;
    min-height: 120px;
}

.c-data__element{
    display: grid;
    align-items: center;
    color: white;
}

.c-data__subelement{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.c-data__element h1{
    font-size: 18px;
    text-align: center;
    font-weight: var(--font-bold);
}

.c-data__element p{
    font-size: 22px;
    text-align: center;
    font-weight: var(--font-ultralight);
}

/* INPUT FIELD */
/*             */


.c-input{
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 16px;
    height: 48px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    padding: 8px;
    padding-top: 11px;
    padding-left: 18px;
    font-family: "tajawal";
    font-weight: var(--font-regular);
    font-size: 18px;
    color: white;
    transition: box-shadow 0.1s ease;
    outline: none;
}

.c-input:hover{
    border: var(--box-border);
    box-shadow: var(--box-shadow-final);
}

.c-input:focus, .c-input:active{
    border: var(--box-border) ;
    box-shadow: var(--box-shadow-final);
}

.c-input::placeholder{
    margin-left: 8px;
    color: white;
    font-family: "tajawal";
    font-weight: var(--font-ultralight);
    font-size: 22px;
}

.c-input:focus + .c-input-field .c-input-label{
    transform: translateY(-39px);
}

/* REFRESH BUTTON */
/*                */

.c-refresh{
    display: grid;
    grid-template-columns: 100%;
    justify-items: end;
    margin-right: 8px;
}

.c-refresh__holder{
    transform-origin: 10px 18px;
    
    transition: 0.1s ease-in-out;
}

.c-refresh__holder::selection{
    background-color: transparent;
}

.c-refresh__holder:hover{
    cursor: pointer;
    transform: rotate(-30deg);
}

.c-refresh__holder svg{
    width: 20px;
}

@keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(720deg);
    }
  }

/* FORMS */
/*       */

.c-form{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: var(--element-gap);
}

.c-form--title {
    font-family: "Tajawal";
    color: white;
    font-weight: var(--font-bold);
}

.c-form--title h1{
    font-size: 48px;
    text-align: center;
}

.c-form--title h2{
    margin-top: -24px;
    font-size: 32px;
    text-align: center;
}

.c-form--subtext{
    font-size: 26px;
    color: white;
    font-weight: var(--font-regular);
}

.c-form--subtext span{
    font-weight: var(--font-bold);;
}

/* FOOTER */
/*        */

.c-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 56px;
}

.c-footer__item{
    width: 160px;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    background-color:var(--color-card);;
    padding: 16px;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
}

.c-footer__item svg{
    height: 68px;
}

.c-footer__item h1{
    text-align: center;
    font-size: 18px;
    font-weight: var(--font-regular);
    color: white;
}

/* BUTTONS */
/*         */

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.c-button{
    background-color: #FD7F88;
    margin-top: 16px;
    height: 48px;
    width: 200px;
    color: white;
    font-family: "tajawal";
    font-weight: var(--font-bold);
    font-size: 22px;
    outline: none;
    border-radius: 10px;
}

.c-button:hover{
    cursor: pointer;

    border: 2px solid var(--color-form-submit);
    box-shadow: 0 0 0 3px  var(--color-form-submit-border);
}

.c-button:active{
    cursor: pointer;
    background-color: var(--color-form-submit);
    border: 2px solid var(--color-form-submit);
    box-shadow: 0 0 0 3px  var(--color-form-submit-border);
}

/* QUERIES */
/*         */

@media(max-width:940px){
    .c-phone{
        display: none;
    }
    .c-app-landing{
        padding: 64px;
        grid-template-columns: 100%;
    }


}
@media(max-width:725px){
    .c-app{
        width: 400px;
        grid-gap: 32px;
    }
    .c-data__text{
       grid-template-columns: 100%;
       grid-gap: var(--text-gap);
       padding: 16px;
    }
    .c-footer{
        grid-template-columns: 100%;
        grid-template-rows: 180px 180px 180px;
        grid-gap: 32px;
    }
    .c-footer__item{
        width: 100% ;
        grid-template-columns: 100%;
        /* margin-top: 32px; */
    }
    .c-footer__item h1{
        max-width: 50%;
    }
}

@media(max-width:540px){
    .c-app{
        padding: 18px;
    }
}

@media(max-width:400px){
    .c-data__chart-canvas{
        width: 200px;
    }
    .c-data__text{
        align-items: center;
    }
    .c-data__subelement{
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
    }

}
